body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgb(255, 56, 122);
}
h1, h2, h3 {
    color: #aa49e2;
    text-align: center;
}
h2 {
    border-bottom: 2px solid #aa49e2;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.section {
    margin-bottom: 30px;
}
.job-listing {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fce9fe;
    border-radius: 6px;
}
.job-listing h3 {
    color: #e22a95;
}
.job-listing p {
    color: #452149;
}
.apply-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.apply-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bb5df1;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.apply-link a:hover {
    background-color: #e22a95;
}
footer {
    text-align: center;
    margin-top: 30px;
    color: #5f2953;
}

footer a{
    color:rgb(255, 56, 122);
}

footer a:hover{
    color:rgb(232, 56, 255);
}